* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

section {
  padding: 0 20px;
}

/* Aside */

.container {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 230px;
  height: calc(100vh);
  background-color: #040404;
  padding: 0 24px;
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  left:0;
  width: 230px;
}

.logo {
  height: 70px;
}

.icon-box-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.icon-box {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.icon-box:hover {
  color: white;
}

.icon-box i {
  font-size: 30px;
  padding-right: 15px;
}

.icon-box .fa-spotify {
  display: none;
}

.playlist {
  font-size: 15px;
  font-weight: bold;
}

.playlist h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.create-playlist {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.create-playlist:hover, .playlist-item:hover {
  color: white;
  cursor: pointer;
}

.create-playlist i {
  font-size: 40px;
  padding-right: 15px;
}

.playlist-list {
  display: flex;
  flex-direction: column;
}

.playlist-item {
  padding-bottom: 15px;
}

.aside-down {
  font-size: 15px;
  font-weight: bold;
}

.download {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b3b3;
}

.download:hover {
  color: white;
  cursor: pointer;
}

.download i {
  padding-right: 10px;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: white;
}

.user i {
  font-size: 30px;
  padding-right: 15px;
}

.container-rx {
  flex: 1;
  display: flex;
  flex-direction: column;
}


/* Header */
header {
  height: 70px;
  width: calc(100vw - 230px);
  background-color: #040404;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}

.header-sx {
  height: 100%;
  font-size: 40px;
  line-height: 70px;
}

.header-sx .arrows i {
  color: #b3b3b3;
  padding: 0 15px;
}

.header-sx .arrows i:hover {
  color: white;
}

.header-dx {
  padding-right: 15px;
}

.header-dx button {
  text-transform: uppercase;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#log {
  color: #040404;
  background-color: white;
}

/* main */
main {
  background-color: #121212;
  height: 100%;
  width: calc(100% - 230px);
  font-family: "Montserrat", sans-serif;
  overflow-y: auto;
  margin-left: 230px;
  margin-bottom: 100px;
  margin-top: 70px;
}

main h3, main h4 {
  color: white;
}

.menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
}

.menu li {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  padding: 15px 10px 5px;
  font-size: 15px;
  cursor: pointer;
}

.menu li:first-child {
    color: white;
    border-bottom: 3px solid #436026;
}

.menu li:hover {
  color: white;
}

/* section recent & createfor & popularartist */

.recent {
  padding-top: 50px;
  padding-bottom: 50px;
}

.recent-card-container, .createfor-card-container, .popularartist-card-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.recent-card, .createfor-card, .popularartist-card {
  padding: 10px 5px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 175px;
}

.card img {
  height: 175px;
}

.artist-circle img, .artist-circle {
  border-radius: 50%;
}

.card-text {
  padding-top: 10px;
}

.card-text small, .createfor small {
  color: #b3b3b3;
}

.layover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: yellow;
  opacity: 0.5;
  display:none;
}

.card-image {
  position: relative;
}

.createfor, .popularartist {
  padding-bottom: 50px;
}

/* nav */

nav {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 230px;
  background-color: green;
  z-index: 9999
}

@media screen and (max-width: 639px) {

  .icon-box-text, .playlist, .download-text, .user-text, .logo, .arrows {
    display: none;
  }

  .download {
    border-bottom: none;
  }

  aside {
    width: 80px;
    align-items: baseline;
  }

  .user i {
    font-size: 30px;
    padding-right: 24px;
  }

  header {
    width: calc(100vw - 70px);
  }

  main {
    width: calc(100% - 70px);
    margin-left: 80px;
  }

  nav {
    left: 80px;
  }

  .fa-arrow-circle-down {
  padding-left: 7px;
  }
  .recent-card-container, .createfor-card-container, .popularartist-card-container {
    justify-content: center;
  }

  .recent, .createfor, .popularartist {
    text-align: center;
  }

  .icon-box .fa-spotify {
    display: block;
  }


}
