* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

section {
  padding-left: 20px;
}

/* Aside */

.container {
  display: flex;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 230px;
  height: calc(100vh - 100px);
  background-color: #040404;
  padding: 0 20px;
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
}

.logo {
  height: 70px;
}

.icon-box-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.icon-box {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-box i {
  font-size: 30px;
  padding-right: 15px;
}

.playlist {
  font-size: 15px;
  font-weight: bold;
}

.playlist h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}

.create-playlist {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.create-playlist i {
  font-size: 40px;
  padding-right: 15px;
}

.playlist-list {
  display: flex;
  flex-direction: column;
}

.playlist-item {
  padding-bottom: 15px;
}

.aside-down {
  font-size: 15px;
  font-weight: bold;
}

.download {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #b3b3b3;
}

.download i {
  padding-right: 10px;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: white;
}

.user i {
  font-size: 40px;
  padding-right: 15px;
}

.container-rx {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  height: 70px;
  background-color: #040404;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.header-sx {
  height: 100%;
  font-size: 40px;
  line-height: 70px;
}

.header-sx .arrows i {
  color: #b3b3b3;
  padding: 0 15px;
}

.header-dx {
  padding-right: 15px;
}

.header-dx button {
  text-transform: uppercase;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 15px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#log {
  color: #040404;
  background-color: white;
}

/* main */
main {
  background-color: #121212;
  height: calc(100vh - 70px);
  font-family: "Montserrat", sans-serif;
}

main h3, main h4 {
  color: white;
}

.menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 15px;
}

.menu li {
  color: #b3b3b3;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  list-style: none;
  padding: 15px 10px 5px;
  font-size: 15px;
  cursor: pointer;
}

.menu li:hover {
    color: white;
    border-bottom: 3px solid #436026;
}

/* section recent */

.recent {
  padding-top: 50px;
  padding-bottom: 50px;
}

.recent-card-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.recent-card {
  padding: 10px 5px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-basis: 175px;
}

.card img {
  height: 175px;
}

.artist-circle img {
  border-radius: 50%;
}

.card-text {
  padding-top: 10px;
}

.card-text small {
  color: #b3b3b3;
}


/* nav */

nav {
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: green;
}
